[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pyyaml = "*"
xlrd = "*"
jinja2 = "*"
keyring = "*"
paramiko = "*"
parameterized = "*"
colorama= "*"
colorlog = "*"

[dev-packages]
coverage= "*"
coveralls = "*"

[scripts]
